:root {
  --bg-color: #242424;
  --map-bg-color: #262626;
  --bg-color-80: rgb(36 36 36 / .8);
  --text-color: #fff;
  --border-color: #474749;
  --wh-color-primary: rgb(48 127 255 / .3);
  --setting-theme-i-color: rgb(48 127 255);

  a:hover {
    color: rgb(48 127 255);
  }
}

html[data-theme='light'] {
  --bg-color: #fff;
  --bg-color-80: rgb(255 255 255 / .8);
  --text-color: #213547;
  --border-color: #d1d1d2;
  --wh-color-primary: rgb(250 219 20 / .3);
  --setting-theme-i-color: rgb(250 219 20);
  --map-bg-color: #f0f0f0;

  a:hover {
    color: rgb(82 196 26);
  }

  button {
    background-color: #f9f9f9;
  }
}


